<table class="table">
	<thead>
		<tr>
			<th>Transaction: <%= order.transaction_id %></th>
			<th>Created: <%= order.created_at.to_formatted_s(:long) %></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<%= order.name %><BR>
				<%= order.email_address %><BR>
				<%= order.address_1 %><BR>
				<% if notice.present? %>
					<%= order.address_2 %><BR>
				<% end %>
				<%= order.city %> <%= order.state %>, <%= order.zip %>
			</td>

			<td align="right">
				<strong>Shipped:</strong>   <%= order.shipped %>
			</td>
		</tr>

		<tr>
			<td>
				<strong>Shirt Design:</strong>
				<p>
					<!--<%= image_tag order.image.url %>-->
					<!--<%= image_tag order.image.url(:medium) %>-->
					<%= image_tag order.image.url(:thumb) %>	
				</p>
			</td>
		</tr>



	</tbody>

</table>
